.container {
    background: white;
    padding: 20px;
    width: 300px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
}

#resultBox {
    margin-top: 20px;
    font-size: 18px;
}